<h1>Index</h1>

<p>Hello,World!</p>

<div>
  <% if admin_signed_in? %>
    <a>管理者ログイン中｜<%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></a>
  <% else %>
    <a><%= link_to "管理ユーザーログイン", new_admin_session_path %></a>    
  <% end %>
</div>
